
world/*
plugins/Essentials/userdata/*
plugins/Essentials/usermap.csv
logs/*
libraries/*


usernamecache.json
usercache.json
ops.json
whitelist.json
banned-ips.json
banned-players.json


permissions.yml

