
world/*
logs/*
libraries/*

plugins/Essentials/userdata/*
plugins/Essentials/usermap.csv

plugins/AuthMe/authme.*
plugins/AuthMe/playerdata/*
plugins/AuthMe/*.html

plugins/ChestShop/items.db
plugins/bStats

plugins/LuckPerms/yaml-storage/uuidcache.txt

usernamecache.json
usercache.json
ops.json
whitelist.json
banned-ips.json
banned-players.json

permissions.yml

