# Configuration file

groundlevel {
    # Ground Level (1-255) [range: 1 ~ 255, default: 64]
    I:settings=64
}


settings {
    B:AlertEnabled=true
    B:AllowSetSpawnDaytime=true
    B:IncludeMiners=true
    S:OnMorningText=起身了返工了... 早安打工人!
    S:OnSleepText=要睡了麻烦关下灯.
    S:OnWakeText=起床屙夜尿了.
    I:SleeperPerc=50
}


